.studentPannelFooter {
    color: var(--text-black);
    padding: 14px 20px;
    font-size: 14px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e2e2e2;
 
}