/* Form Box - Responsive */
.formBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

/* Title */
.title {
    font-size: 15px;
    margin-bottom: 1rem;
    color: #333;
    margin-top: 20px;
}

/* Input Group */
.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 48%;
    margin: 5px;
}

.inputGroup label {
    font-weight: 500;
    margin-bottom: 0.3rem;
    color: #555;
}

.inputGroup input {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border 0.3s;
    width: 100%;
}

.inputGroup input:focus {
    border-color: #007bff;
    outline: none;
}

/* Submit Button */
.submitBtn {
    text-align: right;
    margin-top: 20px;
}

.submitBtn button {
    padding: 0.8rem;
    background: #007bff;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.submitBtn button:hover {
    background: #0056b3;
}

/* Table Container */
.tableContainer {
    margin: 0 auto;
    overflow-x: auto;
    margin-top: 50px;
}

.tableContainer table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.tableContainer th,
.tableContainer td {
    padding: 12px 15px;
    text-align: left;
    font-size: 15px;
}

.tableContainer th {
    background-color: #dddddd;
    color: #000;
    text-transform: uppercase;
}

.tableContainer tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableContainer tr:hover {
    background-color: #d6e9ff;
    transition: 0.3s;
}

.tableContainer td {
    border-bottom: 1px solid #ddd;
}

/* Table Buttons */
.tableActiveBtn,
.tableDeactiveBtn,
.tableEditBtn,
.tableDeleteBtn {
    background: none;
    outline: none;
    border: none;
    margin: 0px 10px;
    cursor: pointer;
    font-size: 16px;
}

.tableActiveBtn {
    color: var(--text-green);
}

.tableDeactiveBtn,
.tableDeleteBtn {
    color: var(--text-red);
}

.tableEditBtn {
    color: var(--text-blue);
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .inputGroup {
        width: 100%;
    }

    .formBox {
        flex-direction: column;
        align-items: stretch;
    }

    .submitBtn {
        text-align: center;
    }

    .submitBtn button {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .submitBtn
    {
        margin-top: 20px;
    }
    .tableContainer table {
        font-size: 14px;
    }

    .tableContainer th,
    .tableContainer td {
        padding: 10px;
    }

    .tableContainer {
        overflow-x: scroll;
    }
}

@media (max-width: 480px) {
    .tableContainer table {
        font-size: 12px;
    }

    .tableContainer th,
    .tableContainer td {
        padding: 8px;
    }

    .submitBtn button {
        font-size: 0.9rem;
        padding: 0.7rem;
    }
}