.formBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.title {

    font-size: 15px;
    margin-bottom: 1rem;
    color: #333;
    margin-top: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 50%;
    margin: 5px;

}

.inputGroup label {
    font-weight: 500;
    margin-bottom: 0.3rem;
    color: #555;
}

.inputGroup input {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border 0.3s;
    width: 100%;
}

.inputGroup input:focus {
    border-color: #007bff;
    outline: none;
}

.submitBtn {
    text-align: right;
}

.submitBtn button {

    padding: 0.8rem;
    background: #007bff;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.submitBtn button:hover {
    background: #0056b3;
}


/* table css */
.tableContainer {

    margin: 0 auto;
    overflow-x: auto;
    margin-top: 50px;
}

.tableContainer table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.tableContainer th,
.tableContainer td {
    padding: 12px 15px;
    text-align: left;
    font-size: 15px;
}

.tableContainer th {
    background-color: #dddddd;
    color: #000;
    text-transform: uppercase;
}

.tableContainer tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableContainer tr:hover {
    background-color: #d6e9ff;
    transition: 0.3s;
}

.tableContainer td {
    border-bottom: 1px solid #ddd;
}

/* table btn */
.tableActiveBtn {

    background: none;
    outline: none;
    border: none;
    margin: 0px 10px;
    cursor: pointer;
    color: var(--text-green);
    font-size: 16px;
}

.tableDeactiveBtn {

    background: none;
    outline: none;
    border: none;
    margin: 0px 10px;
    cursor: pointer;
    color: var(--text-red);
    font-size: 16px;
}

.tableEditBtn {
    background: none;
    outline: none;
    border: none;
    margin: 0px 10px;
    cursor: pointer;
    color: var(--text-blue);

}

.tableDeleteBtn {
    background: none;
    outline: none;
    border: none;
    margin: 0px 10px;
    cursor: pointer;
    color: var(--text-red);
}

.formUpdateHeading {
    margin-bottom: 15px;
}


/* review */
.reviewContainer {
    max-width: 600px;
    margin: auto;
    padding: 16px;
  
    border-radius: 8px;
}

.reviewList {
    list-style-type: none;
    padding: 0;
}
.reviewList li 
{
    margin-bottom: 1rem;
}


