.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f8f9fa;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: var(--main-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Full-page container */
.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa;
}

/* 404 Image */
.image {
  max-width: 400px;
  margin-bottom: 20px;
}

/* 404 Error Code */
.errorCode {
  font-size: 5rem;
  font-weight: bold;
  color: var(--main-color);
  /* Primary color */
}

/* Message */
.message {
  font-size: 1.25rem;
  color: #6c757d;
  /* Muted color */
  margin-bottom: 20px;
}

/* Go Back Button */
.homeButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.homeButton:hover {
  background-color: var(--main-color);
}