.sideMenu {
    width: 200px;
    background-color: #f8f8f8e9;
    color: var(--text-black);
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    overflow-y: auto;
}

.sideMenu::-webkit-scrollbar {
    width: 8px;
}

.sideMenu::-webkit-scrollbar-thumb {
    background: #e2e2e2;
    border-radius: 4px;
}

.sideMenu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.brandSection {
    margin-bottom: 20px;
    text-align: center;
}

.dashboardLink {
    background-color: var(--main-color);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px 5px;
    width: 180px;
    margin-bottom: 10px;
}

.dashboardLink a {
    color: var(--text-white);
    text-decoration: none;
    font-weight: 700;
}

.dashboardTitle {
    font-size: 16px;
    color: var(--text-black);
    text-transform: capitalize;
    padding: 10px 0px 0px 10px;

}
.dashboardTitle:last-child
{
    margin-bottom: 100px !important;
}

.dashboardTitle a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dashboardTitle a .icon {
    color: var(--text-black);    
    font-size: 20px;
}

.dashboardTitle a span {
    margin-left: 10px;
}


.sidemenuLogo {
    margin-top: 20px;
}

.sidemenuLogo a {
    font-size: 24px !important;
    font-weight: bold;
    color: var(--main-color);
    text-decoration: none;
    padding: 0px 15px;
}

.adminSubmenuHome {
    background-color: var(--main-color);
    padding: 10px 20px;
    border-radius: 8px;
}

.adminSubmenuHome a {
    color: var(--main-bgcolor);
    text-decoration: none;
}


@media all and (max-width:768px) {
    .sideMenu
    {
        display: none;
    }
    
}